<h2>Travel Wishlist</h2>

<from method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button type="submit">Add Place</button>
</from>



{% for place in places %}

<div>
    {{ place.name }}

    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button type="submit">Visited</button>
    </form>
</div>

{% empty %}

<p>You have no places in Your wishlist.</p>

{% endfor %}

<a href="{% url 'places_visited' %}">Visited places</a>